@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
    font-family: 'Outfit', sans-serif;
  }

  .dark body {
    @apply bg-slate-900 text-slate-50 transition-colors duration-300;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}

/* Custom Scrollbar for Premium Feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-slate-800 rounded-full border-2 border-transparent bg-clip-padding;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300 dark:bg-slate-700;
}